{$WEB_DOMAIN} {
    encode zstd gzip
    reverse_proxy web:8000
}

{$SCANNER_DOMAIN} {
    encode zstd gzip
    forward_auth web:8000 {
        uri /api/v1/scanner/status
    }
    reverse_proxy scanner:8501
}
